/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Timeline Styles */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #4CAF50;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-event {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-event::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #4CAF50;
    border-radius: 50%;
    top: 15px;
    left: -8px;
}

.timeline-event-content {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    display: none;
}

.timeline-event:nth-child(odd) {
    left: 0;
}

.timeline-event:nth-child(even) {
    left: 50%;
}

.timeline-event:nth-child(even)::after {
    left: auto;
    right: -8px;
}

/* Expanded event styles */
.timeline-event-content.expanded {
    display: block;
    border: 2px solid #808080;